
.header {
    .header__title {
        margin-bottom: 20px;
        font-weight: bold;
    }

    .dropdown-filter{
        display: flex;
        flex-wrap: wrap;
    }

    .searchbar{
        margin-bottom: 10px;
    }
}


@media only screen and (min-width: 1024px){
   .header {

    .header__title, .searchbar {
        margin: 0;
    }

    .header__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__group {
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
    }

    .searchbar {
        margin-right: 15px;
    }

    .dropdown-filter {
        flex-wrap: nowrap;
        align-items: center;
        
        label {
            margin-bottom: 0;
            white-space: nowrap;
        }
    }
   }
}